<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362588443986-6r85p3q5jo1j0h0hdauli0pnss4ofn5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362588443986-6r85p3q5jo1j0h0hdauli0pnss4ofn5e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362588443986-gun8obtbf5aasrkfrtlod2e7ojmdtet9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBybdAy2V1u7AMYK_CURoCky3gnfbz3wLk</string>
	<key>GCM_SENDER_ID</key>
	<string>362588443986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yujini.memo</string>
	<key>PROJECT_ID</key>
	<string>memo-da10c</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-da10c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362588443986:ios:4fcafa4dfde6faf7cf968b</string>
</dict>
</plist>